<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>459135232777-kt35s5nahp2gts446ggsuf9i6kuks08l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459135232777-kt35s5nahp2gts446ggsuf9i6kuks08l</string>
	<key>API_KEY</key>
	<string>AIzaSyBoEBCLRd5psmoXKthddj4tpcxWGor9RFY</string>
	<key>GCM_SENDER_ID</key>
	<string>459135232777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.suuqa.suuqa</string>
	<key>PROJECT_ID</key>
	<string>suuqa-167a5</string>
	<key>STORAGE_BUCKET</key>
	<string>suuqa-167a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459135232777:ios:abbf2bf23bc2f3f9</string>
	<key>DATABASE_URL</key>
	<string>https://suuqa-167a5.firebaseio.com</string>
</dict>
</plist>